*.pyc
*.swp
*.swo
*.pdf
*.pgf
*.pickle
*.vscode
*.xlsx
*.mpx
!scripts/pbe/moc/results/*.pickle
pbe/validationData/orifice/results/histograms/*
pbe/validationData/orifice/results/*.pdf
pbe/validationData/sweep/**
pbe/validationData/tables/**
pbe/validationData/plots/**
pbe/validationData/*.ods
pbe/*.pdf
versions
*.venvpbe
*.venvnote
*venvnote
cases/murilo/solutions/optimizations/Output_SHGO_Simplicial_11-05-2024.txt
*.mpx.bak
